@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,500;1,300&display=swap');
html{
  scroll-behavior: smooth;
}
nav{
  background-color: darkgreen;
}
.nav-link{
  color:darkgreen;
  transition: .5s;

  &:hover,&.actives{
    color: red !important;/* pour mettre une propriete en avant qu elle doit marcher*/
  }

  &:visited{
    color: #eeeaea;
  }

}
.c1{
  background-color: #002a00;
}
.c2{
  background-color: yellow;
}