@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,500;1,300&display=swap');
html{
  scroll-behavior: smooth;
}
nav{
  background-color: darkgreen;
}
.nav-link{
  color:darkgreen;
  transition: .5s;

  &:hover,&.actives{
    color: red !important;/* pour mettre une propriete en avant qu elle doit marcher*/
  }

  &:visited{
    color: #eeeaea;
  }

}
.fond{
  background-color: #eedddd;
  opacity: 75%;
}
.c1{
  background-color: #002a00;
}
.c2{
  background-color: yellow;
}
.containt1{
  background-image: url("../image/Restaurant2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.containt2{
  background-image: url("../image/chef2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.containt3{
  background-image: url("../image/Evènement3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.containt4{
  background-image: url("../image/Livraison1.jpeg");
  //filter: brightness(75%);pour le filtre de l'image/
  background-size: cover;
  background-repeat: no-repeat;
}
.containt5{
  background-image: url("../image/Réduction2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card1{
  background-image: url("../image/Evènement5.jpeg");
  background-size: cover;
  background-position: center;
}
.card2{
  background-image: url("../image/Evènement6.jpeg");
  background-size: cover;
  background-position: center;
}
.card3{
  background-image: url("../image/Evènement8.jpeg");
  background-size: cover;
  background-position: center;
}
.card4{
  background-image: url("../image/médaille.jpeg");
  background-size: cover;
  background-position: center;
}
.card5{
  background-image: url("../image/champagne.jpeg");
  background-size: cover;
  background-position: center;
}
.card6{
  background-image: url("../image/toplist.jpeg");
  background-size: cover;
  background-position: center;
}